<!DOCTYPE html>
<html>
  <head>
    <title>Nested Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="main">
          <div id="header">
              <h1>Nested Demo: Using The Cocoon Gem</h1>
              <%= link_to "Product", products_path %>
              <%= link_to "Tasks", tasks_path %>
          </div>
          <div id="content">
              <%= yield %>
          </div>
      </div>
  </body>
</html>
